@import "partials/variables";

html{
  background-color: $color-background;
}

body{
  font-family: $font-copy; 
  background-color: $color-background;
}

h1, h2, h3{
  font-family: $font-heading;
}

.logo{
  font-weight: 400;
  color: $color-secondary;
}

.homepage-wrapper{
  background-image: url("../../images/bergen.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  padding-top: 100px;
}