@import "partials/variables";

a{
  color: black;
  text-decoration: none;

  &:hover{
    color: $color-secondary;
    text-decoration: underline;
  }
}
  
nav{

  a {
    color: $color-secondary;
    padding: 6px 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;

    &:hover{
      color: $color-primary;
      text-decoration: none;  
    }  
  } 
  
  .navbar-brand{
    color: $color-secondary !important;
    text-transform: lowercase !important;
    font-size: 28px !important;

    &:hover{
      color: $color-primary !important;
    }
  }
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus
 {
    outline: none;
    border: none;
    box-shadow: none;
}

footer{
  @extend nav;
  background-color: $color-secondary;
  color: white;

  a{
    color: white;
  }

  p{
    font-size: 16px;
  }
  
}

.btn{
  color: white;
  font-weight: 300;
  background-color: $color-primary;
  border-color: $color-primary; 

  &:hover{
    color: $color-primary;
    background-color: white;
    border-color: $color-primary; 
    text-decoration: none;
  }
}

.input-rounded{
  border-radius: 300px !important;
  border: none !important;
  max-width: 400px;
  margin:auto;
}

.rbt-input{
  @extend .input-rounded;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.rbt-menu{
  border: none;
  border-radius: 0;  
}

.form-group{
  max-width: 500px;
}

.form-control{
  border: none;
  border-bottom: 1px solid $color-neutral;
  border-radius: 0;
  font-weight: 300;
}
.card{
  border: none;
  background-color: $color-background;

  a{
    text-decoration: none;
  }
}