@import "partials/variables";

.container{
  margin-top: $margin-xl;
  margin-bottom: $margin-lg;
}

.container-fluid{
  padding: 0;
}

.card{
  margin-bottom: $margin-md;
  
  &-body{
    padding: 5px 0 15px 0;
  }
  
  &-title{
    margin-bottom: 0;
  }
  
  &-img-top{
    object-fit: cover;
    object-position: center;
    height: 200px;
  }
}



.search{
  margin:  $margin-xl auto $margin-xl auto;
  max-width: 400px;
}

.heading{
  margin-bottom: $margin-xl;
}

.footer{
  margin-top: 0;
  margin-bottom: 0;
  padding: 25px 0;

  &__text{
    padding: 6px 12px;
  }
}

.form{
  margin-bottom: $margin-lg;
}

.object-fit{
  object-fit: cover;
  object-position: center;
  max-height: 400px;
}