@import "partials/variables";

.container{
  margin-top: $spacing-xl;
  margin-bottom: $spacing-lg;
}

.container-fluid{
  padding: 0;
}

.card{
  margin-bottom: $spacing-md;
  
  &-body{
    padding: 5px 0 15px 0;
  }
  
  &-title{
    margin-bottom: 0;
  }
  
  &-img-top{
    object-fit: cover;
    object-position: center;
    height: 200px;
  }
}

.search{
  margin:  $spacing-xl auto $spacing-xl auto;
  max-width: 400px;
}

.heading{
  margin-bottom: $spacing-xl;
}

.form{
  margin-bottom: $spacing-lg;
}

.object-fit{
  object-fit: cover;
  object-position: center;
  max-height: 400px;
}