/*FONTS*/

$font-heading: raleway, sans-serif;
$font-copy: europa-light, sans-serif;

/*COLORS*/

$color-primary: #00B3A6;
$color-secondary: #005457;
$color-neutral: #707070;
$color-background: #F9F9F9;

/*MARGINS*/

$margin-xs:5px;
$margin-sm:10px;
$margin-md:20px;
$margin-lg:30px;
$margin-xl:50px;