/*FONTS*/

$font-heading: raleway, sans-serif;
$font-paragraph: europa, sans-serif;

/*COLORS*/

$color-primary: #00B3A6;
$color-secondary: #005457;
$color-neutral: #707070;
$color-background: #F9F9F9;

/*MARGINS*/

$spacing-xs:5px;
$spacing-sm:10px;
$spacing-md:20px;
$spacing-lg:30px;
$spacing-xl:50px;